/*Menu Superior*/
#menuUno {
    background-color: #78d64b;
    color: #fff;
}

#menuUno a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.dropdown .menu-item a {
    color: #999 !important;
}

#menuUno .pull-left p {
    padding-top: 15px;
}

#menuUno .fa {
    border: 1px solid #fff;
    padding: 3px 10px;
    border-radius: 8px;
}

#menuUno .fa-phone {
    margin-left: 15px;
}

#menuUno .nav > li > a:focus, .nav > li > a:hover {
    background-color: #64ccc9;
}

a {
    outline: none !important;
    transition: 0.5s linear;
}
#menuUno .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #64ccc9;
    border-color: transparent;
}

#menuUno .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #999 !important;
    text-decoration: none;
    background-color: #ededed;
}

p span {
    font-weight: bold;
}

#menuUno .dropdown-menu > .active > a, #menuUno .dropdown-menu > .active > a:focus, #menuUno .dropdown-menu > .active > a:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0px none;
    border: medium none !important;
    background-color: rgb(237, 237, 237);
    margin: 0px;
    border-radius: 0px;
    padding: 3px 20px !important;
}
#menuSuperior .active a {
    color: #fff !important;
    text-decoration: underline !important;
}
#menuSuperior .active a:focus, #menuSuperior .active a:hover{
    color: #ededed !important;
 background-color: transparent !important;
}
@media(max-width:767px){
#menuUno .dropdown-menu {
    background-color: #fff !important;
    border-radius: 0px !important;
}
}

@media(max-width:992px){
 #menuUno .pull-left p {
     float: none;
     text-align: center;
     width: 100%;
 }
 #menuUno div div {
     float: none;
     width: 100%;
 }
 #menuUno .navbar-nav > li {
    float: none !important;
}
 #menu-menu-superior {
    text-align: center;
    float: none !important;
    width: 100%;
    margin: 0px;
}
 #menuUno .navbar-collapse {
    border-top: none;
    box-shadow: none;
}
 #menuUno .dropdown-menu {
    width: 100%;
}
}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}

/*Menu Principal*/
#buscar {
    font-family: FontAwesome;
}
#menuPrincipal {
    background-color: #ededed;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
#textoBuscar {
    background-color: transparent;
    border: medium none;
    width: 80%;
    color: #999;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
}
#buscar {
    color: rgb(153, 153, 153);
    background-color: transparent;
    border: medium none;
    margin: 0px;
    width: 19%;
    padding: 0px;
}
#opcionBusqueda {
    padding-left: 29px;
}

.col-md-2 .fa-shopping-cart {
    padding-top: 20px;
}
#menuPrincipal a {
    color: #64ccc9;
    font-weight: bold;
}
.active a {
    color: #78d64b !important;
    border: 1px solid #78d64b !important;
    padding: 0px 15px !important;
    margin: 15px 0px;
    border-radius: 4px;
}

.navbar {
    margin-bottom: 15px;
}
#opcionBusqueda {
    padding-left: 29px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.navbar {
    margin-bottom: 0px;
}
#menuArriba {
    border-left: 1px solid #64CCC9;
    border-bottom: 1px solid #64CCC9;
}
#menuAbajo {
    border-left: 1px solid #64CCC9;
}
#menuArriba .col-md-10 {
    border-right: 1px solid #64CCC9;
}
#menuArriba .col-md-2 {
    text-align: center;
}
#menuAbajo .col-md-2 {
    text-align: center;
}
#menuAbajo {
    padding-top: 15px;
    padding-bottom: 15px;
}
#menuPrincipal .nav > li > a:hover {
    background-color: transparent;
    color: #999 !important;
}
#menuPrincipal .nav .open > a:focus {
    background-color: #64ccc9;
    border-color: transparent;
    color: #fff !important;
}
.navbar {
    border: none;
}
#menuPrincipal .navbar-brand {
    width: 100%;
    max-width: 159px;
    text-align: center;
    height: auto;
}
.navbar-brand {
    height: auto;
    max-width: 159px;
    float: none;
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 margin: auto;
}
#menuPrincipal .navbar-brand {
    padding: 15px 15px 0px 15px;
}

#menuPrincipal .dropdown-menu > .active > a, #menuPrincipal .dropdown-menu > .active > a:focus, #menuPrincipal .dropdown-menu > .active > a:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0px none;
    border: medium none !important;
    background-color: rgb(237, 237, 237);
    margin: 0px;
    border-radius: 0px;
    padding: 3px 20px !important;
}
@media(max-width:767px){

}

@media(max-width:992px){
#textoBuscar {
    text-align: center;
    width: 100%;
}
#buscar {
    width: 100%;
    margin-top: 10px;
}
 #menuArriba {
    border-left: none;
    border-bottom: none;
}
 #menuAbajo {
    border-left: none;
}
 #menuArriba .col-md-10 {
    border-right: none;
}
 .navbar-toggle {
    width: 100%;
    margin: 0px;
}
}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}
/*Footer*/
#footer {
    background-color: #64CCC9;
    color: #fff;
}

#footer a{
    color: #fff;
}

#logoFooter img {
    width: 100%;
    max-width: 269px;
}

#footer h3 {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 6px;
}
#footer li {
    list-style: outside none none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#footer ul {
    padding-left: 7px;
}
#parteSuperiorFooter {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
}
#parteInferiorFooter {
    margin-bottom: 20px;
    margin-top: 20px;
}
#footer a:hover {
    color: #000;
    text-decoration: none;
}
#datosContacto .fa {
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 16px;
    border-radius: 50px;
    margin-right: 10px;
    float:left;
}

#datosContacto p {
    float: left;
    width: 64%;
}

#datosContacto div {
    float: left;
    width: 100%;
}
#datosContacto .unaFila p {
    padding-top: 13px;
}
#datosContacto .dosFila p {
    padding-top: 3px;
}
#datosContacto div div {
    margin-bottom: 10px;
}

#datosContacto .fa:hover {
    background-color: #fff;
    color: #64ccc9;
}

#datosContacto .fa{
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
@media(max-width:767px){

}

@media(max-width:992px){

}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}

/*Marcas*/

#marcas img {
    float: left;
    width: 50%;
}
#marcas {
    text-align: center;
}
#marcas div img {
    max-width: 182px;
    float: none;
}
#marcas p {
    margin: 0px;
    font-size: 25px;
}
#marcas div {
    margin-bottom: 20px;
}
#marcas {
    margin-bottom: 50px;
}
@media(max-width:767px){
#marcas img {
    float: left;
    width: 100%;
    max-width: 578px;
}

}

@media(max-width:992px){

}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}

/*Menu lateral*/

#menuLateral li {
    list-style: none;
    color: #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#menuLateral li a {
    color: #000;
}

#menuLateral li a:hover {
    color: #64ccc9;
    text-decoration: none;
}

#menuLateral ul {
    padding-left: 15px;
}

#menuLateral h3 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 0px;
    margin-bottom: 20px;
}

#logoMarcas img {
    width: 100%;
    max-width: 250px;
}

#logoMarcas {
    text-align: center;
}
#marcas {
    padding-top: 50px;
}


@media(max-width:767px){
#marcas img {
    margin: auto;
    float: none;
}
}

@media(max-width:992px){

}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}
/*Parte derecha*/
#parteDerecha div div {
    text-align: center;
    font-size: 15px;
}
#parteDerecha div div img {
    margin-bottom: 20px;
    margin-top: 20px;
}
#parteDerecha div {
    text-align: center;
}
#parteDerecha {
    padding-top: 20px;
}

#slider {
    padding: 0px 30px;
}
#slider img {
    width: 100%;
}

/*Otros*/
#contenidoDeLaPagina {
    padding-top: 25px;
}

/*Productos*/
.amount {
    font-size: 16px;
    font-weight: bold;
}
.price {
    position: absolute;
    background-color: rgba(120, 214, 75, 0.9);
    color: rgb(255, 255, 255) !important;
    border-radius: 1000px;
    padding: 42px 17px;
    height: 105px;
    width: 105px;
    text-align: center;
    top: 146px;
    left: 145px;
}
.woocommerce li h3 {
    color: #000;
}

.woocommerce li {
    text-align: center;
}

.woocommerce .button {
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #000 !important;
    text-transform: uppercase;
    padding: 0px 10px;
}

.woocommerce li .price {
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease; 
}

.woocommerce li:hover .price {
    top: 100px;
}
#tituloProductosDestacados {
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    margin: auto;
    width: 25%;
    padding: 3px 0px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.woocommerce li img {
    max-width: 300px;
}
.woocommerce a {
    width: 100% !important;
    float: left;
}
.woocommerce li img {
    margin: auto !important;
}
.woocommerce .button.add_to_cart_button:hover {
    background-color: #78d64b !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}
.added_to_cart {
    color: #78d64b !important;
}
@media(max-width:992px){

}
@media(max-width:1200px){
.woocommerce li {
    width: 45% !important;
}
#tituloProductosDestacados {
    width: 30%;
}
}
@media(max-width:767px){
.woocommerce li {
    width: 100% !important;
}
#tituloProductosDestacados {
    width: 75%;
}
}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}

