/*Menu Superior*/
#menuUno {
    background-color: #78d64b;
    color: #fff;
}

#menuUno a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.dropdown .menu-item a {
    color: #999 !important;
}

#menuUno .pull-left p {
    padding-top: 15px;
}

#menuUno .fa {
    border: 1px solid #fff;
    padding: 3px 10px;
    border-radius: 8px;
}

#menuUno .fa-phone {
    margin-left: 15px;
}

#menuUno .nav > li > a:focus, .nav > li > a:hover {
    background-color: #64ccc9;
}

a {
    outline: none !important;
    transition: 0.5s linear;
}
#menuUno .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #64ccc9;
    border-color: transparent;
}

#menuUno .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #999 !important;
    text-decoration: none;
    background-color: #ededed;
}

p span {
    font-weight: bold;
}

#menuUno .dropdown-menu > .active > a, #menuUno .dropdown-menu > .active > a:focus, #menuUno .dropdown-menu > .active > a:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0px none;
    border: medium none !important;
    background-color: rgb(237, 237, 237);
    margin: 0px;
    border-radius: 0px;
    padding: 3px 20px !important;
}
#menuSuperior .active a {
    color: #fff !important;
    text-decoration: underline !important;
}
#menuSuperior .active a:focus, #menuSuperior .active a:hover{
    color: #ededed !important;
 background-color: transparent !important;
}
@media(max-width:767px){
#menuUno .dropdown-menu {
    background-color: #fff !important;
    border-radius: 0px !important;
}
}

@media(max-width:992px){
 #menuUno .pull-left p {
     float: none;
     text-align: center;
     width: 100%;
 }
 #menuUno div div {
     float: none;
     width: 100%;
 }
 #menuUno .navbar-nav > li {
    float: none !important;
}
 #menu-menu-superior {
    text-align: center;
    float: none !important;
    width: 100%;
    margin: 0px;
}
 #menuUno .navbar-collapse {
    border-top: none;
    box-shadow: none;
}
 #menuUno .dropdown-menu {
    width: 100%;
}
}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}

/*Menu Principal*/
#buscar {
    font-family: FontAwesome;
}
#menuPrincipal {
    background-color: #ededed;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
#textoBuscar {
    background-color: transparent;
    border: medium none;
    width: 80%;
    color: #999;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
}
#buscar {
    color: rgb(153, 153, 153);
    background-color: transparent;
    border: medium none;
    margin: 0px;
    width: 19%;
    padding: 0px;
}
#opcionBusqueda {
    padding-left: 29px;
}

.col-md-2 .fa-shopping-cart {
    padding-top: 20px;
}
#menuPrincipal a {
    color: #64ccc9;
    font-weight: bold;
}
.active a {
    color: #78d64b !important;
    border: 1px solid #78d64b !important;
    padding: 0px 15px !important;
    margin: 15px 0px;
    border-radius: 4px;
}

.navbar {
    margin-bottom: 15px;
}
#opcionBusqueda {
    padding-left: 29px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.navbar {
    margin-bottom: 0px;
}
#menuArriba {
    border-left: 1px solid #64CCC9;
    border-bottom: 1px solid #64CCC9;
}
#menuAbajo {
    border-left: 1px solid #64CCC9;
}
#menuArriba .col-md-10 {
    border-right: 1px solid #64CCC9;
}
#menuArriba .col-md-2 {
    text-align: center;
}
#menuAbajo .col-md-2 {
    text-align: center;
}
#menuAbajo {
    padding-top: 15px;
    padding-bottom: 15px;
}
#menuPrincipal .nav > li > a:hover {
    background-color: transparent;
    color: #999 !important;
}
#menuPrincipal .nav .open > a:focus {
    background-color: #64ccc9;
    border-color: transparent;
    color: #fff !important;
}
.navbar {
    border: none;
}
#menuPrincipal .navbar-brand {
    width: 100%;
    max-width: 159px;
    text-align: center;
    height: auto;
}
.navbar-brand {
    height: auto;
    max-width: 159px;
    float: none;
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 margin: auto;
}
#menuPrincipal .navbar-brand {
    padding: 15px 15px 0px 15px;
}

#menuPrincipal .dropdown-menu > .active > a, #menuPrincipal .dropdown-menu > .active > a:focus, #menuPrincipal .dropdown-menu > .active > a:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0px none;
    border: medium none !important;
    background-color: rgb(237, 237, 237);
    margin: 0px;
    border-radius: 0px;
    padding: 3px 20px !important;
}
@media(max-width:767px){

}

@media(max-width:992px){
#textoBuscar {
    text-align: center;
    width: 100%;
}
#buscar {
    width: 100%;
    margin-top: 10px;
}
 #menuArriba {
    border-left: none;
    border-bottom: none;
}
 #menuAbajo {
    border-left: none;
}
 #menuArriba .col-md-10 {
    border-right: none;
}
 .navbar-toggle {
    width: 100%;
    margin: 0px;
}
}
@media(max-width:1200px){

}
@media(min-width:768px){

}
@media(min-width:992px){
       
}
@media(min-width:1200px){
    
}